  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Railskhmer.us", root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="right">
      <li><%= link_to "Ruby" %></li>
      <li><%= link_to "Ruby on sRails" %></li>
      <li><%= link_to "Scss" %></li>
      <li><%= link_to "Coffeescript" %></li>
      <li><%= link_to "Javascript" %></li>
      <li><%= link_to "Node.js" %></li>
      <li><%= link_to "Bootstrap 3" %></li>
      <li><%= link_to "Foundation 5" %></li>
      <li class="divider">
      <li><%= link_to "Mac OS" %></li>
      <li><%= link_to "Ubuntu" %></li>
    </ul>
  </section>
</nav>
<div class="row">
  <div class="large-12 columns text-center">
    <div class="large-8 columns small-10 column pad-t pad-l">
      <nav class="inline-list">
        <li><%= link_to "Home" %></li>
        <li><%= link_to "Features" %></li>
        <li><%= link_to "About" %></li>
        <li><%= link_to "Contact" %></li>
      </nav>
    </div>   
  </div>
</div>