    <nav class="top-bar" data-topbar><yo-dog>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Railskhmer.us", root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="right">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to "Ruby on sRails" %></li>
      <li><%= link_to "Scss" %></li>
      <li><%= link_to "Coffeescript" %></li>
      <li><%= link_to "Bootstrap 3" %></li>
      <li><%= link_to "Foundation 5" %></li>
      <li class="divider">
      <li><%= link_to "Mac OS" %></li>
      <li><%= link_to "Ubuntu" %></li>
    </ul>
  </section>
</nav>
<header data-headroom data-tolerance="5" data-offset="205" data-classes='{"initial":"animated","pinned":"swingInX","unpinned":"swingOutX"}'>
  <div class="row">
    <div class="large-12 columns text-center">
      <div class="large-12 columns small-12 column pad-t pad-l">
        <ul class="list"></nav>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Features", store_features_path %></li>
          <li><%= link_to "About", store_about_path%></li>
          <li><%= link_to "Contact" %></li>
          <% if user_signed_in?  %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>   
    </div>
  </div>
</header>


